.search-bar {
  height: 400px;
  &__background {
    display: none;
    height: 400px;
    position: absolute;
    left: 0;
    background-image: url("../../public/images/meat_background.jpg");
    background-size: cover;
    background-position: unset;
    background-attachment: fixed;
    @media (min-width: 705px) {
      display: block;
    }
  }
}
