@import "@styles/colors";

.button {
  background-color: $primary;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: $primary-hover;
  }
}
